@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/*colors*/
/*fonts*/
body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
}

/*********Loader************/
.loader_page {
  background-color: #99E2D0;
  height: 1400px;
  width: 100%;
  top: 0;
  position: fixed;
  animation: loader 1 3000ms;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: loader 1 3000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  white-space: nowrap;
}

.loader_page h3 {
  font-family: "Shrikhand";
  font-size: 50px;
  padding-top: 80px;
  text-align: center;
  color: #fff;
}

.cs-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cs-loader-inner {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 20%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fff;
  text-align: center;
  padding: 100px 100px;
  vertical-align: middle;
}

.cs-loader-inner label {
  font-size: 50px;
  opacity: 0;
  display: inline-block;
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: circles 3s 1 ease-in-out;
  animation: circles 3s 1 ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: circles 3s 100ms ease-in-out;
  animation: circles 3s 1 ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: circles 3s 200ms 1 ease-in-out;
  animation: circles 3s 100ms 1 ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: circles 3s 300ms 1 ease-in-out;
  animation: circles 3s 200ms 1 ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: circles 3s 400ms 1 ease-in-out;
  animation: circles 3s 300ms 1 ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: circles 3s 500ms 1 ease-in-out;
  animation: circles 3s 400ms 1 ease-in-out;
}

/*----------header-----------*/
header__logo {
  background: #fff;
  width: 160%;
  text-align: center;
  -webkit-box-shadow: 0 1px 4px #090909;
          box-shadow: 0 1px 4px #090909;
  border-bottom: 2px solid #EAEAEA;
  padding: 5px 46px;
}

header__logo img {
  height: 50px;
  width: 160px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

localisation {
  display: block;
  position: relative;
  margin: auto;
  width: -webkit-fill-available;
}

.localisation i {
  position: inherit;
  padding: 8px 10px;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

img, video {
  height: auto;
  max-width: 100%;
}

div {
  display: block;
  margin-left: 3px;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  width: 5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

button, input, select {
  margin: 0;
}

input {
  border-style: hidden;
  font-weight: bold;
  font-size: larger;
  background-color: #EAEAEA;
}

form {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(#333, #fff);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background-color: #E5E5E5;
  cursor: text;
  margin: auto;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 20px;
  border-style: solid;
  border-color: #E5E5E5;
  width: -webkit-fill-available;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.reservation {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  padding: 10px 20px 20px 20px;
  background-color: #f4f4f4;
}

.reservation h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.reservation h1 h2 {
  font-size: larger;
  font-weight: normal;
  color: #888;
}

article {
  display: block;
}

article a {
  text-decoration: none;
}

.reservation h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.reservation h2 {
  font-size: larger;
  font-weight: normal;
  color: #888;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, input, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0.5px;
}

a.btn_reservation {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;
  color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 #888;
          box-shadow: 0 5px 15px 0 #888;
  font-weight: bold;
  margin: 0 0.3em 0.3em 0;
  padding: 15px 30px;
}

a.btn_reservation:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f77dd4), to(#ab65fa));
  background: linear-gradient(#f77dd4, #ab65fa);
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
}

.btn_reservation {
  position: relative;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  padding: 3px 10px;
  font-weight: bold;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  margin: 10px 5px;
}

aside {
  display: block;
}

.fonctionnement h2 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}

.aside_etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.btn_aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 20px;
  text-decoration: none;
  background: #EAEAEA;
  border-radius: 30px;
  text-align: justify;
  margin-left: 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: bold;
  padding: 20px 15px;
  -webkit-box-shadow: 0 5px 15px 0 #888;
          box-shadow: 0 5px 15px 0 #888;
}

.btn_aside:hover {
  background: #F4E7FF;
}

.aside_numero {
  position: absolute;
  left: 12px;
  background: #9356dc;
  border-radius: 100%;
  color: #fff;
  height: 25px;
  width: 8px;
  line-height: 1.67;
  padding: 2px 10px;
  font-weight: bold;
}

.aside_icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #888;
  margin: 0 20px 0 25px;
  position: absolute;
  font-size: 20px;
}

i {
  font-style: italic;
}

.aside_texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  color: #333;
}

section {
  display: block;
}

.restaurants {
  background-color: #EAEAEA;
  padding: 10px;
  margin-top: 15px;
}

h1 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 18px;
  margin-left: 10px;
  color: #333;
}

.cartes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  min-width: 0;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px 2px #EAEAEA;
          box-shadow: 2px 2px 10px 2px #EAEAEA;
  border-radius: 15px;
}

.figure_cartes {
  position: relative;
  max-height: 200px;
  font-weight: bold;
  text-align: center;
}

p {
  display: block;
  padding: 0.2rem;
}

img.carte_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

figcaption {
  border-radius: 3px;
  background-color: #99E2D0;
  color: #217460;
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 10px;
  width: auto;
}

.descriptif_restaurant p {
  margin-left: 5px;
}

.cartes h4 {
  font-weight: bolder;
}

h4, h5 {
  margin-left: 0.5rem;
  font-size: 100%;
  font-weight: normal;
}

.btn_reservation:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 0 5px 15px 0 #888;
          box-shadow: 0 5px 15px 0 #888;
}

.like .default-icon:hover, .like:hover, .like .hover-icon:hover {
  -webkit-transition: 0.5s 0s ease;
  transition: 0.5s 0s ease;
}

.like {
  position: relative;
  height: 1.50rem;
  width: 1.50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 85%;
  top: auto;
  bottom: 2.6rem;
}

.like i {
  color: #888;
  float: right;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.default-icon {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: -webkit-linear-gradient(top right, #9356dc 30%, #ff79da 70%);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-size: 100% 0;
  background-position: 100% 100%;
  font-weight: bold;
}

.default-icon:hover {
  background-size: 100% 100%;
  -webkit-text-stroke-color: transparent;
}

.like .hover-icon {
  left: 0;
  opacity: 0;
  position: absolute;
}

.like .hover-icon:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 999;
}

footer {
  background: #323232;
  padding: 20px;
  text-align: left;
}

footer h3 {
  font-family: "Shrikhand";
  font-size: x-large;
  color: #fff;
  padding-bottom: 1.1rem;
}

.lien_footer a {
  color: #fff;
  text-decoration: none;
}

/*----------------Keyframes-------------*/
@-webkit-keyframes circles {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    z-index: 1;
    white-space: nowrap;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    z-index: 1;
    white-space: nowrap;
  }
  66% {
    opacity: 0.5;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    z-index: 1;
    white-space: nowrap;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    z-index: -10;
    white-space: nowrap;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    z-index: 1;
    white-space: nowrap;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    z-index: 1;
    white-space: nowrap;
  }
  66% {
    opacity: 0.5;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    z-index: 1;
    white-space: nowrap;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    z-index: -10;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
    margin: 10px 5px;
  }
  aside {
    display: block;
  }
  .fonctionnement h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    margin-left: 9px;
    position: relative;
    text-align: center;
  }
  .aside_etapes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: 20px;
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .btn_aside {
    margin-bottom: 20px;
    text-decoration: none;
    background: #EAEAEA;
    border-radius: 40px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: bold;
    padding: 30px;
    margin-right: 40px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-shadow: 0 5px 15px 0 #888;
    box-shadow: 0 5px 15px 0 #888;
  }
  .btn_aside:hover {
    background: #F4E7FF;
  }
  .aside_numero {
    position: relative;
    left: 50px;
    top: -40px;
    background: #9356dc;
    border-radius: 100%;
    color: #fff;
    line-height: 1.67;
    padding: 20px 30px 10px;
    font-weight: bold;
    font-size: 20px;
  }
  .aside_icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    color: #888;
    margin: 0 0px 10px 70px;
    position: relative;
    font-size: 30px;
  }
  i {
    font-style: italic;
  }
  .aside_texte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 15px;
    color: #333;
  }
  section {
    display: block;
  }
  .restaurants {
    background-color: #EAEAEA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px;
  }
  h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    margin-left: 9px;
    position: relative;
    text-align: center;
  }
  .cartes {
    display: inline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 30px 15px;
    width: 200px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 10px 2px #EAEAEA;
    box-shadow: 2px 2px 10px 2px #EAEAEA;
    border-radius: 15px;
  }
  .figure_cartes {
    position: relative;
    font-weight: bold;
  }
  p {
    display: block;
    padding: 0;
  }
  img.carte_img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
  figcaption {
    border-radius: 3px;
    background-color: #99E2D0;
    color: #217460;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;
    width: auto;
  }
  .descriptif_restaurant {
    display: block;
    width: auto;
    margin-top: auto;
    white-space: nowrap;
  }
  footer {
    background: #323232;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  footer h3 {
    font-family: "Shrikhand";
    font-size: xxx-large;
    color: #fff;
    padding-bottom: 1.1rem;
  }
  #liens_footer {
    color: #fff;
    text-decoration: none;
    font-size: large;
  }
}
/*# sourceMappingURL=styles.css.map */