    html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin : 0;
    padding : 0;
    }
    h1, h2, h3, h4, h5, h6 {
    font-size : 100%;
    font-weight : normal;
    }
    ul {
    list-style : none;
    }
    button, input, select {
    margin : 0;
    }
    html {
    box-sizing : border-box;
    overflow-x : hidden;
    }
    body {
    background-color : #f6f6f6;
    color : #333;
    font-family : Roboto, sans-serif;
    font-size : 0.875rem;
    line-height : 1.5;
    margin : 0;
    text-align : left;
    overflow-x : hidden;
    }
    *, *::before, *::after {
    box-sizing : inherit;
    }
    img, video {
    height : auto;
    max-width : 100%;
    }
   
   /*----------------Header-------------*/
    header {
    display : block;
    }
    .menu_header {
    display : flex;
    flex-direction : column;
    align-items : center;
    background-color : #e9e9e9;
    }
    .logo_header {
    background : white;
    width : 160%;
    text-align : center;
    box-shadow : 0 1px 4px rgb(0, 0, 0, 0.3);
    border-bottom : 2px solid #f4f4f4;
    padding : 5px 46px;
    }
    .header__logo img {
    height : 50px;
    width : 160px;
    }
    .logo_header {
    display : flex;
    justify-content : space-around;
    align-items : center;
    flex-flow : column;
    background : white;
    width : 160%;
    text-align : center;
    box-shadow : 0 1px 4px rgb(0 0 0 / 30%);
    border-bottom : 2px solid #f4f4f4;
    padding : 5px 46px;
    }
    header .back_icon {
    display : block;
    margin-right : 275px;
    position : absolute;
    left : 25px;
    color : #000;
    }
    .fa, .fas {
    font-weight : 900;
    color: black;
    }
    .fa, .far, .fas {
    font-family : "Font Awesome 5 free";
    }
    .fa, .fab, .fad, .fal, .far, .fas {
    display : inline-block;
    font-style : normal;
    font-variant : normal;
    text-rendering : auto;
    line-height : 1;
    }
    *, *::before, *::after {
    box-sizing : inherit;
    }
    header .header_img {
    width : 100%;
    }
    header .header_img img {
    height : 15rem;
    object-fit : cover;
    width : 100%;
    }

    /*--------------Main---------------------*/

    /*--------------Titres-------------------*/

    .menus {
    border-top-left-radius : 20px;
    border-top-right-radius : 35px;
    margin-top : 1rem;
    z-index : 999;
    background-color : #f6f6f6;
    }
    .main {
    background : #f6f6f6;
    }
    main {
    display : flex;
    flex-flow : column nowrap;
    margin-left : auto;
    margin-right : auto;
    margin-top : -50px;
    max-width : 1440px;
    }
    .titres_menus {
    font-family : "Shrikhand", cursive;
    font-weight : normal;
    text-align : left;
    padding : 20px 0 20px 20px;
    }
    h1 {
    line-height : 1;
    }
    h1, h2, h3, h4, h5, h6 {
    font-size : 25px;
    font-weight : normal;
    }
    .like .default-icon:hover, .like:hover, .like .hover-icon:hover {
    transition: 1s 0s ease;
    }
    .like {
    position: relative;
    left: 19.7rem;
    bottom: 2.9rem;
     }
    .like i {
    color: #9d9d9d;
    font-size: 24px;
    left: 50%;
    }
    .like .hover-icon {
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    }
    .like .hover-icon:hover {
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 1;
    }
    .like:hover {
     cursor: pointer;
     overflow: hidden;
     opacity: 1;
     }
    .like .default-icon:hover {
     opacity: 0;
    }

    /*----------------Section details-------------*/

    section {
    display : block;
    }
    div {
    display : block;
    }
    .sous_titre {
    margin : 25px 0;
    font-size : 18px;
    text-transform : uppercase;
    }
    h2 {
    display : block;
    font-size : 15px;
    color : #919191;
    margin-block-start : 0.83em;
    margin-block-end : 0.83em;
    margin-inline-start : 0.7rem;
    margin-inline-end : 0;
    font-weight : normal;
    }
    h2:after {
    content : "";
    border-bottom : 2px solid #99e2d0;
    display : block;
    padding-top : 3px;
    width : 40px;
    }
    article {
    background: #f6f6f6;
    cursor: pointer;
    height: auto;
    padding: 5px;
    margin-left: auto;
    flex: 1 0 33%;
    overflow: hidden;
    }
    .entrees{
      animation: 0.5s ease 0s fadeIn;
      -webkit-animation: 0.5s ease 0s fadeIn;
    }
    .plats {
      animation: 0.5s ease 0.5s fadeIn;
      -webkit-animation: 0.5s ease 0.5s fadeIn;
    }
    .desserts {
      animation: 0.5s ease 1s fadeIn;
      -webkit-animation: 0.5s ease 1s fadeIn;
    }
    p {
    display : block;
    width : 80%;
    padding : 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    }
    .entree, .plat, .dessert {
      display: flex;
      justify-content: space-between;
      background: #fff;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 0 5px 15px 0 #c3c3c3;
      margin: 10px;
      overflow: hidden;
      }
      .prix {
      margin : 1.7rem;
      font-weight : bold;
      }
      .entrees .plats .desserts .btn-circle {
      color : #fff;
      }
      .btn-circle {
      cursor: pointer;
      border-radius: 20px;
      }  
      .checkbox {
      display: none;
      background-color : #99e2d0;
      animation: checkbox ease 0.3s;
      }
      .checkbox i {
        font-size: large;
        color: #fff;
        display: flex;
        width: 0;
        height: 0;
        margin-top: 13px;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(360deg);
        transition-duration: 0.5s;
        }  
    .checkbox i:hover{
       transform: rotate(0deg);
    }
    .entrees .plats .desserts .btn-circle {
    color : #fff;
    }
    .btn-circle {
      cursor: pointer;
      border-radius: 20px;
    }  
    .entree:hover .checkbox {
    display: block;
    flex: 0 0 18%;
    background: #99e2d0;
    width: auto;
    overflow: hidden;
     }
    .entree:hover .btn-circle {
    position: absolute;
    padding: 1.7rem; 
    background: #99e2d0; 
     }
    .plat:hover .checkbox {
    display: block;
    flex: 0 0 18%;
    background: #99e2d0;
    width: auto;
    overflow: hidden;
    }
    .plat:hover .btn-circle {
    position: absolute;
    padding: 1.7rem; 
    background: #99e2d0;
    }
    .dessert:hover .checkbox {
    display: block;
    flex: 0 0 18%;
    background: #99e2d0;
    width: auto;
    overflow: hidden;
    }
    .dessert:hover .btn-circle {
    position: absolute;
    padding: 1.7rem; 
    background: #99e2d0;
     }
    .btn_commander a {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    display: inline-block;
    position: relative;
    background: linear-gradient(#ff79da, #9356dc);
    text-decoration: none;
    cursor: pointer;
    border: 0;
    text-align: center;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    font-weight: bold;
    padding: 15px 30px;
    transition: 0.2s;
    left: 4.4rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    }
    btn_commander {
    padding : 2rem;
    }
    .btn_commander a:hover {
    background: linear-gradient(#ff79da, #c2a3e6);
    box-shadow: 0 10px 30px 0 #c3c3c3;
    }

        /*-----------------------Footer------------------*/

    footer {
    display : block;
    }
    footer {
    background: #323232;
    padding: 20px;
    text-align: left;
  }
  
  footer h3 {
    font-family: "Shrikhand";
    font-size: x-large;
    color: #fff;
    padding-bottom: 1.1rem;
  }
  
  .lien_footer a {
    color: #fff;
    text-decoration: none;
  }
    .footer-icons{
    color: #fff;
    width: 5%;
      }
  
/*----------------Checkbox Animation-------------*/

  @keyframes checkbox {
  0% {
  transform: translate(50px, 0);
  }
  20% {
  transform: translate(30px, 0);
  }
  40% {
  transform: translate(20px, 0);
  }
  60% {
  transform: translate(15px, 0);
  }
  80% {
  transform: translate(7px, 0);
  -webkit-transform: translate(7px, 0);
  -moz-transform: translate(7px, 0);
  -ms-transform: translate(7px, 0);
  -o-transform: translate(7px, 0);
  }
  100% {
  transform: translate(1px, 0);
  }
  }
  
/*----------------Pages Animation-----------------*/

@keyframes fadeIn {
  0% {margin-top: 100%;}
  100% {margin-top: 0%;}
  }


/*---------------Responsive---------------------*/
/*----------------Tablettes-------------------------*/

@media screen and (min-width: 568px) and (max-width: 767px){
  .checkbox i {
    font-size: large;
    color: #fff;
    display: flex;
    width: 0;
    height: 0;
    margin-top: 13px;
    margin-left: 1rem;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transform: rotate(360deg);
    transition-duration: 0.5s;
    }
}

/*----------------Desktop----------------------*/
@media screen and (min-width: 768px) {
  .menus {
    z-index : 0;
    background-color : #f6f6f6;
    }
    main {
    display : flex;
    flex-direction: column;
    max-width : 1440px;
    }
    .titres_menus {
    font-family : "Shrikhand", cursive;
    font-weight : normal;
    text-align : left;
    padding : 20px 0 20px 20px;
    }
    h1, h2, h3, h4, h5, h6 {
    font-size : 25px;
    font-weight : normal;
    }
    .like .default-icon:hover, .like:hover, .like .hover-icon:hover {
    transition: 1s 0s ease;
    }
    .like i {
    color: #9d9d9d;
    font-size: 24px;
    }
    .like{
    position: relative;
    left: 17.18rem;
    }
    .like .hover-icon {
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    }
    .like .hover-icon:hover {
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 1;
    }
    .like:hover {
     cursor: pointer;
     overflow: hidden;
     opacity: 1;
     }
    .like .default-icon:hover {
     opacity: 0;
    }

     /*----------------Section details-------------*/
  
     section {
      display : flex;
      flex-direction: row;
      width: 100%;
      background-color: #f6f6f6;
      }
      .sous_titre {
      margin : 25px 0;
      font-size : 18px;
      text-transform : uppercase;
      }
      h2 {
      font-size : 20px;
      color : #919191;
      font-weight : normal;
      }
      h2:after {
      content : "";
      border-bottom : 2px solid #99e2d0;
      display : block;
      padding-top : 3px;
      width : 40px;
      }
      article {
      background: #f6f6f6;
      cursor: pointer;
      overflow: hidden;
      }
      .entrees{
        animation: 0.5s ease 0s fadeIn;
        -webkit-animation: 0.5s ease 0s fadeIn;
      }
      .plats {
        animation: 0.5s ease 0.5s fadeIn;
        -webkit-animation: 0.5s ease 0.5s fadeIn;
      }
      .desserts {
        animation: 0.5s ease 1s fadeIn;
        -webkit-animation: 0.5s ease 1s fadeIn;
      }
      p {
      white-space: revert;
      text-align:center;
      font-size: medium;
      height: 6.8rem;
      }
      p:hover{
      text-overflow: ellipsis;
      white-space: nowrap;
      }
      .entree, .plat, .dessert {
      display: flex;
      flex-direction: row; 
      width: 90%;
      background: #fff;
      cursor: pointer;
      box-shadow: 0 5px 15px 0 #c3c3c3;
      overflow: hidden;
      }
      .prix {
      margin : auto;
      padding: 10px;
      font-weight : bold;
      }
      .checkbox {
      display: none;
      background-color : #99e2d0;
      animation: checkbox ease 0.3s;
      }
      .checkbox i {
      position:absolute;
      display: flex;
      font-size: x-large;
      height: 0;
      width: 0;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      transform: rotate(360deg);
      transition-duration:0.5s;
      }
      .checkbox i:hover{
      transform: rotate(0deg);
      }
      .btn-circle {
      cursor: pointer;
      }  
      .entree:hover .checkbox {
      display: block;
      flex: 0 0 30%;
      padding: 6% 3%;
      background: #99e2d0;
      overflow: hidden;
       }
      .entree:hover .btn-circle {
      position: absolute;
      background: #99e2d0; 
       }
      .plat:hover .checkbox {
      display: block;
      flex: 0 0 30%;
      padding: 6% 3%;
      background: #99e2d0;
      overflow: hidden;
      }
      .plat:hover .btn-circle {
      position: absolute;
      background: #99e2d0;
      }
      .dessert:hover .checkbox {
      display: block;
      flex: 0 0 30%;
      padding: 6% 3%;
      background: #99e2d0;
      overflow: hidden;
      }
      .dessert:hover .btn-circle {
      position: absolute;
      background: #99e2d0;
       }
      .btn_commander a {
          display: inline-flex;
          position: absolute;
          flex-direction: column;
          background: linear-gradient(#ff79da, #9356dc);
          text-decoration: none;
          cursor: pointer;
          border: 0;
          text-align: center;
          border-radius: 25px;
          font-size: large;
          color: #fff;
          box-shadow: 0 5px 15px 0 #c3c3c3;
          font-weight: bold;
          transition: 0.2s;
          left: 30rem;
          top: 15rem;
          width: 30%;
          height: max-content;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
          }
      .btn_commander a:hover {
      background: linear-gradient(#e6acd5, #ab65fa);
      }
      footer {
        background: #323232;
        padding: 20px;
        text-align: center;
      }
      footer h3 {
        font-family: "Shrikhand";
        font-size: xxx-large;
        color: #fff;
        padding-bottom: 1.1rem;
      }
      .lien_footer a {
        color: #fff;
        text-decoration: none;
        font-size: larger;
      }
    }