body {
    background-color: #fff;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 5;
    text-align: left;
    overflow-x: hidden;
}

header__logo {
    background: white;
    width: 160%;
    text-align: center;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border-bottom: 2px solid #f4f4f4;
    padding: 5px 46px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  }
  
header_logo img{
    height: 50px;
    width: 160px;
  }
 
*, *::before, *::after {
    box-sizing: inherit;
}
  
localisation {
    display: block;
  /* align-items: center; */
  position: relative;
  margin: auto;
  width: -webkit-fill-available;
  border
}

  
.localisation i {
    position: inherit;
}
  
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
  
img, video {
    height: auto;
  max-width: 100%
  }

div {
    display: block;
    margin-left: 3px;
  }
  
.localisation .icones{
    padding: 8px 10px;
  }

.fa, .fas {
      font-weight: 900;
      width: 5%;
  }

.fa, .far, .fas {
      font-family: "Font Awesome 5 free";
  }

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

i {
    font-style: italic;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}


button, input, select {
    margin: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}

input {
    border-style: hidden;
    background-color: #EAEAEA;
 }

form {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    appearance: auto;
    background-color:#EAEAEA;
    cursor: text;
    margin: auto;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 20px;
    border-style:solid;
    border-color: #EAEAEA;
    width: -webkit-fill-available;
}

main {
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

.reservation {
    flex: 100%;
    text-align: center;
    padding: 30px 10px;
    background-color: #f2f2f2;
}

article {
    display: block;
}

p {
    display: block;
}

.titres_reservation h2, .titres_reservation h1 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
}


h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}


html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, input, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
margin: 0.5px;
padding: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.reservation h2 {
    font-size: 15px;
    font-weight: normal;
    color: #888;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a.btn_reservation {
    display: inline-block;
    background: linear-gradient(#ff79da, #9356dc);
    text-decoration: none;
    cursor: pointer;
    border: 0;
    text-align: center;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    font-weight: bold;
    margin: 0 0.3em 0.3em 0;
    padding: 15px 30px;
    transition: 0.2s;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 5px;
}

aside {
    display: block;
}

.fonctionnement h2{
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

.aside_etapes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn_aside {
    flex: 1 0 auto;
    margin-bottom: 20px;
    text-decoration: none;
    background: #e9e9e9;
    border-radius: 30px;
    text-align: justify;
    margin-left: 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: bold;
    padding: 20px 15px;
    box-shadow: 0 5px 15px 0 #c3c3c3;
}

.aside_numero {
    position: absolute;
    left: 12px;
    background: #9356dc;
    border-radius: 100%;
    color: #fff;
    height: 25px;
    width: 8px;
    line-height: 1.67;
    padding: 2px 10px;
    font-weight: bold;
}

.aside_icones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: grey;
    margin: 0 20px 0 25px;
    position: absolute;
    font-size: 20px;
}

i {
    font-style: italic;
}

.aside_texte {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

section {
    display: block;
}

.restaurants {
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 15px;
}

.restaurants h2 {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 18px;
    color: #000;
}

.cartes {
    display: flex;
    flex-direction: column;
    margin: 15px;
    min-width: 0;
    background: #fff;
    box-shadow: 2px 2px 10px 2px #e9e9e9;
    border-radius: 15px;
}

article a {
    text-decoration: none;
}

.figure_cartes {
    position: relative;
    max-height: 200px;
    font-weight: bold;
    text-align: center;
}



img.carte_img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

figcaption {
    border-radius: 3px;
    background-color: #99e2d0;
    color: #217460;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;
    width: auto;
  }

  .descriptif_restaurant {
    display: block;
    width: auto;
    margin-top: auto;
  }

  .cartes h4 {
      font-weight: bolder;
  }

  h4, h5 {
    margin-left: 0.5rem;
  }

  p {
    padding: 0.2rem;
  }

  .btn_reservation {
    position: relative;
    top: 10px;
    right: 10px;
    background: #99e2d0;
    color: #2c9c81;
    padding: 3px 10px;
    font-weight: bold;
    z-index: 999;
  }

  .btn_reservation:hover {
  background: linear-gradient(#f77dd4, #ab65fa);
  box-shadow: 0 5px 15px 0 #c3c3c3;
}

.like .default-icon:hover, .like:hover, .like .hover-icon:hover {
  transition: 0.5s 0s ease;
}


.like {
  position: relative;
  height: 1.50rem;
  width: 1.50rem;
  display: flex;
  left: 85%;
  top: auto;
  bottom: 2.6rem;
}

.like i {
  color: #9d9d9d;
  float: right;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 1.8em;
  display: flex;
}

.default-icon {
    transition: all 0.5s;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 0.08rem;
   background: -webkit-linear-gradient(top right, #9356dc 30%, #ff79da 70%);
   background-repeat: no-repeat;
   -webkit-background-clip: text;
   background-size: 100% 0;
   background-position: 100% 100%;
   font-weight: bold;
}

.default-icon:hover {
   background-size: 100% 100%;
   -webkit-text-stroke-color: transparent;
}

.like .hover-icon {
  left: 0;
  opacity: 0;
  position: absolute;
}

.like .hover-icon:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 999;
}


.menu_footer {
    background-color: #323232;
    padding: 10px
  }
  
  li {
    list-style-type: none;
  }
  
footer {
    background: #333;
    padding: 20px;
    text-align: left;
    color: #fff;
    }

footer h3 {
    font-family: "Shrikhand";
    font-size: x-large; 
    color: #FFFFFF;
    padding-bottom: 1.1rem;
}

#liens_footer {
    color: #fff;
}


  @media only screen and (min-width: 765px) {
    .logo_footer {
      max-width: none;
    }
  }
  .liens_footer {
    text-align: left;
  }
  @media only screen and (min-width: 765px) {
    .liens_footer {
      text-align: center;
    }
  
  .footer-icones {
    margin-right: 15px;
  }
  
  .aside {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 5px;
  }
  .aside__texte {
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
  }
  .aside__etapes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  @media only screen and (min-width: 765px) {
    .aside__etapes {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }
  }
  .btn_aside {
    flex: 1 0 auto;
    margin-bottom: 20px;
    text-decoration: none;
    background: #e9e9e9;
    border-radius: 30px;
    text-align: justify;
    margin-left: 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: bold;
    padding: 20px 15px;
    box-shadow: 0 5px 15px 0 #c3c3c3;
  }
  
  .btn_aside:hover {
    background: #f2eafb;
    box-shadow: 2px 2px 10px 2px #e4d5f6;
  }
  .btn_aside:hover .aside__icons {
    color: #9356dc;
  }
  @media only screen and (min-width: 765px) {
    .btn_aside {
      flex: 100%;
      margin-left: 20px;
      padding: 10px 5px;
    }
  }
  .aside__numero {
    position: absolute;
    left: 12px;
    margin-top: -7px;
    background: #9356dc;
    border-radius: 100%;
    color: #fff;
    height: 25px;
    width: 25px;
    line-height: 1.67;
    padding: 2px 10px;
    font-weight: bold;
  }
  @media only screen and (min-width: 765px) {
    .aside__numero {
      display: block;
      position: relative;
      left: -12px;
      top: 10px;
    }
  }
  .aside__icones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: grey;
    margin: 0 20px 0 25px;
    position: absolute;
    font-size: 20px;
  }
  @media only screen and (min-width: 765px) {
    .aside__icones {
      margin-left: 40px;
      margin-top: -10px;
    }
  }
  .aside__texte {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
  }
  @media only screen and (min-width: 765px) {
    .aside__texte {
      display: block;
      text-align: center;
      margin-top: -11px;
    }
  }
  
  main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.titres_reservation h2, .titres_reservation h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.reservation {
  flex: 100%;
  text-align: center;
  padding: 30px 10px;
  background-color: #f2f2f2;
}
.titres_reservation {
  margin-bottom: 35px;
}
.titres_reservation h1 {
  margin-bottom: 15px;
}
.titres_reservation h2 {
  font-size: 15px;
  font-weight: normal;
  color: #888;
}

article a {
  text-decoration: none;
}

.restaurants {
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 15px;
}
@media only screen and (min-width: 765px) {
  .restaurants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 15px;
    height: 100%;
  }
}
.cartes {
  display: flex;
  flex-direction: column;
  margin: 15px;
  min-width: 0;
  background: #fff;
  box-shadow: 2px 2px 10px 2px #e9e9e9;
  border-radius: 15px;
}
.restaurants h2 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 18px;
  color: #000;
}

@media only screen and (min-width: 765px) {
    .restaurants h2 {
    padding: 15px 0 15px 15px;
    width: 100%;
  }
}
.figure_cartes {
  position: relative;
    background-color: #fff;
    width: 100%;
    height: 250px;
    border-radius: 1.5rem;
    -webkit-box-shadow: 3px 8px 8px #dedada;
    box-shadow: 3px 8px 8px #dedada;
    margin: 0 0 3rem 0;
}

.figure_cartes img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
@media only screen and (min-width: 1024px) {
  .figure_cartes img {
    max-width: 275px !important;
    height: 200px;
  }
}
@media only screen and (min-width: 765px) {
  .figure_cartes img {
    max-width: 325px;
    height: 200px;
  }
}

.descriptif_restaurant {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}
.descriptif_restaurant h5 {
  font-weight: 300;
  font-size: 1.1rem;
  margin-left: 0;
}

.descriptif_restaurant h4 {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

.btn_reservation {
  display: inline-block;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;
  color: #fff;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: bold;
  margin: 0 0.3em 0.3em 0;
  padding: 15px 30px;
  transition: 0.2s;
}
.btn_reservation:hover {
  background: linear-gradient(#f77dd4, #ab65fa);
  box-shadow: 0 5px 15px 0 #c3c3c3;
}

.like .hover-icon:hover, .like:hover, .like .default-icon:hover {
  transition: 0.5s 0s ease;
}

.like {
  position: relative;
  margin-right: 22px;
  margin-top: 4px;
}
.like i {
  color: #9d9d9d;
  font-size: 24px;
  left: 50%;
}
.like .hover-icon {
  left: 0;
  opacity: 0;
  position: absolute;
}
.like .hover-icon:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
  z-index: 999;
}
.like:hover {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
}
.like .default-icon:hover {
  opacity: 0;
}

/***************Commander Button***************/
.btn_aside {
  margin-top: 25px;
  width: 60%;
}
@media only screen and (min-width: 765px) {
  .btn_aside {
    width: 20%;
  }
}
  













